.bg-dark{
  background-color: #304C64!important;
  height: 45px;
}

.user-button{
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  outline: 0!important;
  outline-offset: 0;
  border-radius: 0;
  height: 45px;

}
.user-button:hover{
  cursor: pointer;
  background-color: #3c6587;
}

.container-1024{
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.leftnav .list-group-item{
  border: none;
}

.msgtext, .lastusermsg{
  word-wrap: break-word;
}

.lastusermsg{
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.messages-container{
  max-height: 400px;
  overflow-x: hidden;
}

.sender-name{
  font-weight:400;
}

.unread{
  background-color: #EDF0F5;
}


.first-message{

  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 1px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.first-message::after{
  background-color: white;
  position: relative;
  top: -.7em;
  padding: 0 .25em;
  content: 'Новые сообщения';
  font-weight: 400;
  font-size: 15px;
}

.messages-container::-webkit-scrollbar{width: 5px;height: 5px;}
.messages-container::-webkit-scrollbar-track-piece{background-color: #ffffff;}
.messages-container::-webkit-scrollbar-thumb:vertical{height: 5px;background-color: #096BAA;}
.messages-container::-webkit-scrollbar-thumb:horizontal{width: 5px;background-color: #096BAA;}
.messages-container::-moz-scrollbar{width: 5px;height: 5px;}
.messages-container::-moz-scrollbar-track-piece{background-color: #ffffff;}
.messages-container::-moz-scrollbar-thumb:vertical{height: 5px;background-color: #096BAA;}
.messages-container::-moz-scrollbar-thumb:horizontal{width: 5px;background-color: #096BAA;}
